<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>KeychainDD</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.KeyChainDD</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.0.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSKeychainApplication</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>KeyChainDD Help</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>KeyChainDD/Password</string>
			</dict>
			<key>NSMessage</key>
			<string>ServiceCall</string>
			<key>NSPortName</key>
			<string>KeyChainDD</string>
			<key>NSUserData</key>
			<string>Password</string>
			<key>NSTimeout</key>
			<string>120000</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>KeyChainDD/UserId</string>
			</dict>
			<key>NSMessage</key>
			<string>ServiceCall</string>
			<key>NSPortName</key>
			<string>KeyChainDD</string>
			<key>NSUserData</key>
			<string>UserID</string>
			<key>NSTimeout</key>
			<string>120000</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
